<!DOCTYPE html>
<html lang="en">
<% include ../views/head %>

<body>
<% include ../views/nav %>


<div class="container content">
          <div class=" header"> <h4>Game!!</h4> </div>
<br/>
          <div class="row">
              <div class="col-md-4">
                  <div class="card rounded-0">
                      <img class="card-img-top rounded-0" src="/images/gameplay3.jpg" alt="Card image cap">
                      <div class="card-block p-2">
                          <h4 class="card-title">You should</h4>
                          <p class="card-text">Create an account to get cool benefits: </p><p>a) have your own avatar b) save your stats</p>
                          <a href="/users/signup" class="btn float-right btn-sm btn-primary rounded-0 mb-2">Sign up</a>
                      </div>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="card rounded-0">
                      <img class="card-img-top rounded-0 border-bottom" src="/images/gameplay2.jpg" alt="Card image cap">
                      <div class="card-block p-2">
                          <h4 class="card-title">Multiplayer</h4>
                          <p class="card-text">Up to 4 (or maybe 5) players can compete for supremacy!</p>

                      </div>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="card rounded-0">
                      <img class="card-img-top rounded-0" src="https://dummyimage.com/350x180/c7c7c7/000.png" alt="Card image cap">
                      <div class="card-block p-2">
                          <h4 class="card-title">Yes</h4>
                          <p class="card-text">Nice card :-)</p>
                      </div>
                  </div>
              </div>
          </div>


      <div class="container mb-5">
          <div class="row">
              <div class="col-md-8">
                <hr>
                  <h2 >Game rules</h2>
                  <hr class="bg-dark w-25 ml-0">
                  <p class="lead">
                    <%include  ../views/rules %>

                  <a href="/play" class="btn btn-sm btn-primary float-right rounded-0">START PLAYING</a>
              </div>
              <div class="col-md-4 mt-5">
                  <img class="card-img-top rounded-0" src="/images/gameplay.jpg" alt="Card image cap">
              </div>
          </div>
      </div>


      <footer class="footer bg-dark text-white">

          <div class="container pt-4 pb-2">
              <div class="row">
                  <div class="col-md-2 col-lg-4 col-xl-3">
                      <p>
                        cool useless footer
                      </p>
                  </div>
              </div>
          </div>
      </footer>
</div>


<% include ../views/scripts %>
<!-- <script src="/javascripts/script.js"></script> -->



</body>
</html>
