

<!-- <div class="topper p-3 bg-info d-none d-lg-block fixed-top">
    <div class="container"></div>
</div> -->

<nav class="navbar fixed-top navbar-expand-md navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">
          <img height="35px" src="/images/LogoMakr_8gXoAK.png">
        </a>

        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item <% if (currentPage=="index") { %>active<%}%>">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item <% if (currentPage=="play") { %>active<%}%>">
                    <a class="nav-link" href="/play">Play</a>
                </li>
                <li class="nav-item <% if (currentPage=="stats") { %>active<%}%>">
                    <a class="nav-link" href="/stats">Statistics</a>
                </li>
                <li class="nav-item <% if (currentPage=="users") { %>active<%}%>">
                    <a class="nav-link" href="/users">Users</a>
                </li>
                <li class="nav-item search-field">
                  <form class="form-inline my-2 my-sm-0">
                      <input class="form-control rounded-0 form-control-sm mr-sm-2" type="search" placeholder="Search">
                  </form>

            </ul>



            <div class="collapse navbar-collapse" id="navbar">
              <ul class="navbar-nav ml-auto">
                <%if (locals.user == undefined) { %>
              </li>
              <li class="nav-item <% if (currentPage=="login") { %>active<%}%>">
                  <a class="nav-link" href="/users/login">Log in</a>
              </li>
              <li class="nav-item <% if (currentPage=="signup") { %>active<%}%>">
                <form action="/users/signup">
                <button class="btn-sm rounded-0 btn btn-primary" type="submit">Sign up</button>
              </form>
              </li>

              <%} else { %>
                <li class="nav-item <% if (currentPage=="signup") { %>active<%}%>">
                  <form action="/users/<%=user._id%>">
                  <button class="btn-sm rounded-0 btn btn-info" type="submit">My profile</button>
                </form>
                </li>
                <li class="nav-item <% if (currentPage=="login") { %>active<%}%>">
                    <a class="nav-link" href="/users/logout">Log out</a>
                </li>
                <%}%>
              </ul>
          </div>

        </div>
    </div>
</nav>
