<!DOCTYPE html>
<html lang="en">
<% include ../views/head %>

<body>
<% include ../views/nav %>

<div class="container content">
    <div id="stage">

  <canvas id="background-canvas" width="900" height="540"></canvas>
  <canvas id="canvas" width="900" height="540"></canvas>
  <canvas id="foreground-canvas" width="900" height="540"></canvas>
  <canvas id="ui-canvas" width="900" height="540"></canvas>

</div>
    <h1 id="t">current room: none</h1>
    <div id="roomlist">
      <h1>room list</h1>
      <ul>
      </ul>
    </div>
    <ul id="messages"></ul>
    <form id="form" action="">
      <input id="name" value="anon"/>
      <input id="input"/>
      <button>Send</button>
    </form>
    <div id="buttons">
    <button id="createroom">create room</button>
  </div>
    <script
			  src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous"></script>
    <script src="/javascripts/client.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>



      $(() => {

        let socket = io();
        $('#form').submit(() => {
          socket.emit('message', $('#name').val()+": "+$('#input').val());

          $('#messages').append($('<li>').text($('#name').val()+": "+$('#input').val()));
          $('#input').val('');
          return false;
        });

        socket.on("roomList", (list) => {
          for (let i=0; i<list.length; i++) {
            addRoomToList(socket, {name: Object.keys(list[i])[0], roomNumber: Object.keys(list[i])[0]});
          }
        });

        socket.on('message', (msg) => {
          $('#messages').append($('<li>').text(msg));
        });

        $("#createroom").click(() => {
          socket.emit("room_create", $('#name').val());
        });

        socket.on("room_created", (msg) => {
          addRoomToList(socket, msg);
        });



        socket.on("room_joined", (msg) => {
          $('#messages').find("li").remove();


          $("#roomlist").hide();
          $("#createroom").hide();
          $("#stage").css("display", "block");

          if (msg.host) {
            $("#buttons").append($("<button>", {
              text: "start game",
              id: "startgame",
              click: () => {
                start();
              }
            }));
          }

          $("#t").text("current room: "+msg.roomNumber);
        });

        socket.on("game_start", (data) => {
          run();
          colorize(data.tiles, data.playerCount);
          initPlaceables(data.drawables);
          sendInput(socket);
          canvasui.addEventListener("click", () => {
            clicked(socket);
          });
        })

        socket.on("drawPlaced", (drawables) => {
          drawPlaced(drawables);
        })

        socket.on("updateDrawable", (obj) => { //todo: rename stuff
          if (obj != null) {
            drawPlaced(obj.drawables);
            if (obj.innerTiles != undefined) {
              drawInnerTiles(obj.innerTiles);
            }
          }
        });

        socket.on("roundCountdown", (count) => {
          drawCountdown(count);
        })
        socket.on("clearCountdown", () => {
          clearCountdown();
        })

        socket.on("drawPlaceable", (placeable) => {
          drawPlaceable(placeable);
        })

        socket.on("drawCannonballs", (balls) => {
          drawCannonballs(balls);
        })

        socket.on("tiles", (data) => {
          colorize(data.tiles, data.playerCount);
        });

        const start = () => {

          $("#startgame").hide();
          socket.emit("start_game");

        }
      });

      const addRoomToList = (socket, msg) => {
        //let li = $('<li>').text("join "+msg.name+"'s room ("+msg.roomNumber+")");
        let li = $('<li>').text("join room "+msg.roomNumber);

        li.attr("id", msg.roomNumber);
        li.css('cursor','pointer');
        li.on("click", () => {
          socket.emit("room_join", msg);
        });
        $('#roomlist').find("ul").append(li);
      }


    </script>
</div>
  </body>
</html>
