<!DOCTYPE html>
<html lang="en">
<% include ../views/head %>

<body>
<% include ../views/nav %>

<div class="container content">



  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
  <!-- <link href="/stylesheets/lobby.css" rel="stylesheet"> -->

  <div class="row">
      <div class="col-lg-12">
          <div class="box">
              <div class="lobby">



                  <aside class="left-side">
                      <div class="top-head">
                          <h4>Game lobby</h4>
                      </div>
                      <ul class="room-list">

                      </ul>



                      <footer>
                          <a class="avatar" href="">
                              <img alt="" src="/images/LogoMakr_8gXoAK.png" width="40px">
                          </a>
                          <div class="status">
                              <i class="fa fa-circle text-success"></i>
                              <span class="statusText"></span>

                          </div>

                      </footer>
                  </aside>



                  <aside class="right-side">
                      <div class="lobby-head">

                      </div>
                      <div class="lobby-chat">





                      </div>
                      <footer>
                      <div class="input-group mb-3 chat-type">
                      <input id="chat-input" type="text" class="form-control rounded-0" placeholder="say hello">
                      <div class="input-group-append">
                          <button id="chat-send" class="btn-sm rounded-0 btn btn-info" type="button">Send</button>
                      </div>
                    </div>
                  </footer>
                  </aside>

                  <aside class="game-create-side">
                      <div class="top-head">
                        <h4>Create a new game</h4>
                      </div>
                      <div class="game-create-row">

                        <form>
                        <div class="form-group">
                          <label for="gamename">Game name</label>
                          <input type="text" class="form-control rounded-0" id="gamename" value="">
                        </div>
                        <div class="form-group">
                          <label for="gamepassword">Password</label>
                          <input type="text" class="form-control rounded-0" id="gamepassword">
                          <small class="form-text text-muted">Leave empty for public game</small>
                        </div>
                        <div class="form-group">
                          <label for="round-length">Rounds</label>
                          <select class="form-control rounded-0" id="round-length">
                            <option selected="selected">3</option>
                            <option>5</option>
                            <option>8</option>
                          </select>
                        </div>

                      </form>
                          <button type="button" id="createroom" class="btn btn-info pull-right rounded-0" title="">Create game!</button>
                      </div>

                  </aside>

              </footer>
              </div>
          </div>
      </div>
  </div>



    <script
			  src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous"></script>
    <script src="/javascripts/client.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/lobby.js"></script>
</div>
  </body>
</html>
