<!DOCTYPE html>
<html lang="en">
<% include ../views/head %>

<body>
<% include ../views/nav %>

<div class="container content">



  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="/stylesheets/lobby.css" rel="stylesheet">

  <div class="row">
      <div class="col-lg-12">
          <div class="box">
              <div class="lobby">
                  <aside class="left-side">
                      <div class="top-head">
                          <h4>Game lobby</h4>
                      </div>
                      <ul class="room-list">
                          <li class="list-room">
                              <a href="#">
                                  <i class="fa fa-rocket"></i>
                                  <span>sasdag</span>
                                  <i class="fa  pull-right"></i>
                              </a>
                          </li>
                          <li class="list-room">
                              <a href="#">
                                  <i class="fa fa-rocket"></i>
                                  <span>fgsgfsgs Cofgsfgoler</span>
                                  <i class="fa  pull-right"></i>
                              </a>
                          </li>
                      </ul>



                      <footer>
                          <a class="avatar" href="">
                              <img alt="" src="/images/LogoMakr_8gXoAK.png" width="40px">
                          </a>
                          <div class="status">
                              <i class="fa fa-circle text-success"></i>
                              username
                          </div>

                      </footer>
                  </aside>



                  <aside class="right-side">
                      <div class="lobby-head">

                      </div>
                      <div class="lobby-chat">

                          <div class="chat-message">
                              <p>feaaaaaaaaaaaaaaaaaaaaaaefffffffffffffffffffffffffffffffffffffffffaeeeeeeeeeeeeaeeeeeeeeeeeffffff</p>
                          </div>
                          <div class="chat-message">
                              <p>drgggggggggggggggggggggddddddddddddggggggggggggggggg</p>
                          </div>
                          <div class="chat-message">
                              <p>feaaaaaaaaaaaaaaaaaaaaaaefffffffffffffffffffffffffffffffffffffffffaeeeeeeeeeeeeaeeeeeeeeeeeffffff</p>
                          </div>
                          <div class="chat-message">
                              <p>drgggggggggggggggggggggddddddddddddggggggggggggggggg</p>
                          </div>
                          <div class="chat-message">
                              <p>feaaaaaaaaaaaaaaaaaaaaaaefffffffffffffffffffffffffffffffffffffffffaeeeeeeeeeeeeaeeeeeeeeeeeffffff</p>
                          </div>
                          <div class="chat-message">
                              <p>drgggggggggggggggggggggddddddddddddggggggggggggggggg</p>
                          </div>
                          <div class="chat-message">
                              <p>feaaaaaaaaaaaaaaaaaaaaaaefffffffffffffffffffffffffffffffffffffffffaeeeeeeeeeeeeaeeeeeeeeeeeffffff</p>
                          </div>
                          <div class="chat-message">
                              <p>drgggggggggggggggggggggddddddddddddggggggggggggggggg</p>
                          </div>
                          <div class="chat-message">
                              <p>feaaaaaaaaaaaaaaaaaaaaaaefffffffffffffffffffffffffffffffffffffffffaeeeeeeeeeeeeaeeeeeeeeeeeffffff</p>
                          </div>
                          <div class="chat-message">
                              <p>drgggggggggggggggggggggddddddddddddggggggggggggggggg</p>
                          </div>
                          <div class="chat-message">
                              <p>feaaaaaaaaaaaaaaaaaaaaaaefffffffffffffffffffffffffffffffffffffffffaeeeeeeeeeeeeaeeeeeeeeeeeffffff</p>
                          </div>
                          <div class="chat-message">
                              <p>drgggggggggggggggggggggddddddddddddggggggggggggggggg</p>
                          </div>


                      </div>
                      <footer>
                      <div class="input-group mb-3 chat-type">
                      <input type="text" class="form-control rounded-0" placeholder="sfee">
                      <div class="input-group-append">
                          <button class="btn-sm rounded-0 btn btn-info" type="submit">Send</button>
                      </div>
                    </div>
                  </footer>
                  </aside>

                  <aside class="game-create-side">
                      <div class="top-head">
                        <h4>Create a new game</h4>
                      </div>
                      <div class="game-create-row">

                        <form>
                        <div class="form-group">
                          <label for="gamename">Game name</label>
                          <input type="text" class="form-control rounded-0" id="gamename" value="anon's game">
                        </div>
                        <div class="form-group">
                          <label for="gamepassword">Password</label>
                          <input type="text" class="form-control rounded-0" id="gamepassword">
                          <small class="form-text text-muted">Leave empty for public</small>
                        </div>
                        <div class="form-group">
                          <label for="round-length">stuff</label>
                          <select class="form-control rounded-0" id="round-length">
                            <option>15</option>
                            <option>20</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                          </select>
                        </div>

                      </form>
                          <a href="##" class="btn btn-info pull-right rounded-0" title="">create game</a>
                      </div>

                  </aside>

              </footer>
              </div>
          </div>
      </div>
  </div>






    <div id="stage">

  <canvas id="background-canvas" width="900" height="540"></canvas>
  <canvas id="canvas" width="900" height="540"></canvas>
  <canvas id="foreground-canvas" width="900" height="540"></canvas>
  <canvas id="ui-canvas" width="900" height="540"></canvas>

</div>
    <h1 id="t">current room: none</h1>
    <div id="roomlist">
      <h1>room list</h1>
      <ul>
      </ul>
    </div>
    <ul id="messages"></ul>
    <form id="form" action="">
      <input id="name" value="anon"/>
      <input id="input"/>
      <button>Send</button>
    </form>




      <input id="roomname" placeholder="room name"/>
      <div id="buttons">
    <button id="createroom">create room</button>
    </div>


    <script
			  src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous"></script>
    <script src="/javascripts/client.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>



      $(() => {

        let socket = io();
        $('#form').submit(() => {
          socket.emit('message', $('#name').val()+": "+$('#input').val());

          $('#messages').append($('<li>').text($('#name').val()+": "+$('#input').val()));
          $('#input').val('');
          return false;
        });

        socket.on("roomList", (list) => {
          for (let i=0; i<list.length; i++) {
            addRoomToList(socket, {name: Object.keys(list[i])[0], roomNumber: Object.keys(list[i])[0]});
          }
        });

        socket.on('message', (msg) => {
          $('#messages').append($('<li>').text(msg));
        });

        $("#createroom").click(() => {
          socket.emit("room_create", $('#name').val());
        });

        socket.on("room_created", (msg) => {
          addRoomToList(socket, msg);
        });



        socket.on("room_joined", (msg) => {
          $('#messages').find("li").remove();


          $("#roomlist").hide();
          $("#createroom").hide();
          $("#stage").css("display", "block");

          if (msg.host) {
            $("#buttons").append($("<button>", {
              text: "start game",
              id: "startgame",
              click: () => {
                start();
              }
            }));
          }

          $("#t").text("current room: "+msg.roomNumber);
        });

        socket.on("game_start", (data) => {
          run();
          colorize(data.tiles, data.playerCount);
          initPlaceables(data.drawables);
          sendInput(socket);
          canvasui.addEventListener("click", () => {
            clicked(socket);
          });
        })

        socket.on("drawPlaced", (drawables) => {
          drawPlaced(drawables);
        })

        socket.on("updateDrawable", (obj) => { //todo: rename stuff
          if (obj != null) {
            drawPlaced(obj.drawables);
            if (obj.innerTiles != undefined) {
              drawInnerTiles(obj.innerTiles);
            }
          }
        });

        socket.on("roundCountdown", (count) => {
          drawCountdown(count);
        })
        socket.on("clearCountdown", () => {
          clearCountdown();
        })

        socket.on("drawPlaceable", (placeable) => {
          drawPlaceable(placeable);
        })

        socket.on("drawCannonballs", (balls) => {
          drawCannonballs(balls);
        })

        socket.on("tiles", (data) => {
          colorize(data.tiles, data.playerCount);
        });

        const start = () => {

          $("#startgame").hide();
          socket.emit("start_game");

        }
      });

      const addRoomToList = (socket, msg) => {
        //let li = $('<li>').text("join "+msg.name+"'s room ("+msg.roomNumber+")");
        let li = $('<li>').text("join room "+msg.roomNumber);

        li.attr("id", msg.roomNumber);
        li.css('cursor','pointer');
        li.on("click", () => {
          socket.emit("room_join", msg);
        });
        $('#roomlist').find("ul").append(li);
      }


    </script>
</div>
  </body>
</html>
