<!DOCTYPE html>
<html lang="en">
<% include ../views/head %>

<body>
<% include ../views/nav %>


<div class="container content">
  
</div>


<% include ../views/scripts %>
<!-- <script src="/javascripts/script.js"></script> -->



</body>
</html>
