<p>The players each have their own area of land designated by a color, and a castle, which they must defend by
    alternately shooting at other player's fort walls, and repairing any damage done to them within a time.</p>

<p>The game cycles in 3 phases: cannon placement, battle phase and repair phase, each of which lasts for a certain time.
    This cycle continues until either the players fail to repair walls of their forts or a certain number of cycles has
    passed.</p>

<p><b>1.</b> In cannon placement phase, the player places cannons within the walls of their fort (if space is
    available).</p>

<p><b>2.</b> In battle phase, players shoot at each other’s walls and try to make it difficult for them to survive the
    next repair round. Cannons can be destroyed if they take enough hits. Each cannon can only shoot once in 2 seconds.
</p>

<p><b>3.</b> In repair phase the player must repair the damage done to the wall surrounding his fort territory. Repair
    blocks are presented as random shapes which can be rotated with the keys g and h, and players must place them on
    their land within a time limit to keep their castles surrounded by walls. Cannons that are left outside the walls
    are not in use until the player builds a wall around them. If a player is unable to repair his/her wall by
    surrounding the castle, s/he loses the game and can no longer continue.</p>