<!DOCTYPE html>
<html lang="en">
<% include ../views/head %>

<body>

<% include ../views/nav %>




    <div class="container content">

      <div class="container">
      	<div class="row">
          <div class="col col-md-5">

<div class="header">
      					<h4>
      						Create account
      					</h4>
</div>
      				<div class="modal-body">
      					<form method="post"  id="formsignup">

                  <div id="error" class="float-right form-error">
                    <%if (locals.errors != undefined) { %>
                      <%for (let result in locals.errors){%>
                        <% if (locals.errors[result].param == "username") { %>
                          <li><%=locals.errors[result].msg%></li>
                        <%}%>
                      <%}%>
                    <%}%>
                  </div>

      						<div class="form-group">
      							<label class="control-label" for="email">Username</label>
      							<div class="input-group">
      								<span class="input-group-addon"><img src="/images/glyphicons-4-user.png"></span></span>
      								<input class="form-control rounded-0" placeholder="username" name="username" id="username" type="text" value="<%if (locals.errors != undefined) {%><%=locals.formData.username%><%}%>">
      							</div>
      						</div>

                  <div id="error" class="float-right form-error">
                    <%if (locals.errors != undefined) { %>
                      <%for (let result in locals.errors){%>
                        <% if (locals.errors[result].param == "password") { %>
                          <li><%=locals.errors[result].msg%></li>
                        <%}%>
                      <%}%>
                    <%}%>
                  </div>

      						<div class="form-group">
      							<label class="control-label" for="password">Password</label>
      							<div class="input-group">
      								<span class="input-group-addon"><img src="/images/glyphicons-204-lock.png"></span></span>
      								<input class="form-control rounded-0" placeholder="**********" name="password" id="password" type="password">
      							</div>


      						</div>
                  <div id="error" class="float-right form-error">
                    <%if (locals.errors != undefined) { %>
                      <%for (let result in locals.errors){%>
                        <% if (locals.errors[result].param == "password") { %>
                          <li><%=locals.errors[result].msg%></li>
                        <%}%>
                      <%}%>
                    <%}%>
                  </div>


      						<div class="form-group">
      							<label class="control-label" for="password2">Confirm password</label>
      							<div class="input-group">
      								<span class="input-group-addon"><img src="/images/glyphicons-204-lock.png"></span></span>
      								<input class="form-control rounded-0" placeholder="**********" name="password2" id="password2" type="password">
      							</div>
      						</div>


      						<button type="submit" id="buttonsignup" class=" float-right rounded-0 btn-sm btn btn-primary">Create an account</button>
      					</form>
                  <small>Already a member? <a class="" href="/users/login">Login here</a></small>
      				</div>


      			</div>
                  </div>
      	</div>




  </div>




</body>
</html>
