<!DOCTYPE html>
<html lang="en">
<% include ../views/head %>

<body>

<% include ../views/nav %>

<div class="container content user-container">
  <div class=" header"> <h4>Stats</h4> </div>
<br/>


</div>


<% include ../views/scripts %>
<script src="/javascripts/stats.js"></script>


</body>
</html>
