<!DOCTYPE html>
<html lang="en">
<% include ../views/head %>

<body>

<% include ../views/nav %>

<div class="container content user-container">
<!--
    <figure class="user-figure">
      <img src="/images/avatar.png" alt="" />
      <figcaption class="user-figcap">
        <h5>asdfda</h5>
      </figcaption>
    </figure> -->


</div>


<% include ../views/scripts %>
<script src="/javascripts/users.js"></script>


</body>
</html>
