.lobby {
  border-collapse: collapse;
  border-spacing: 0;
  display: table;
  table-layout: fixed;
  width: 100%;
  position: relative;
  aside {
    display: table-cell;
    float: none;
    max-height: 400px;
    padding: 0;
    vertical-align: top;
  }
  .left-side {
    width: 25%;
    background: #e5e8ef;
    border-radius: 0px 0 0 0px;
    -webkit-border-radius: 0px 0 0 0px;
  }
  .right-side {
    width: 50%;
    max-height: 400px;

    background: ivory;
    background: #fff;
  }
  .gamestage {
    visibility: visible;
      width:900px;
        display: table-cell;
  }
  .gamechat {
    background-color: #fefefe;
      width:100%;
        display: table-row;
  }
  #buttons {

  }
  #stage {
    display:block;
  }
  .gameplayers {
        display: table-cell;
  }
  .gamestage .top-head {
    background: #b6c294;
    color: #000000;
    padding: 15px;
    position:relative
  }
  .game-create-side {
    width: 25%;
    background: #fff;
  }

  .left-side .top-head {
    background: #b6c294;
    color: #000000;
    min-height: 70px;
    padding: 15px;
  }
  .game-create-side .top-head {
    background: #cdd9a7;
    color: #000000;
    min-height: 70px;
    padding: 15px;
    position: relative;
  }
  .top-head {
    i {
      float: left;
      font-size: 40px;
      margin-right: 10px;
    }
    h3 {
      margin: 6px 0 0 0;
      font-weight: 100;
      letter-spacing: 1px;
    }
  }
}

.lobby-head {
  background: #c0cc9c;
  color: #FFFFFF;
  min-height: 70px;
  padding: 15px;
}

ul.room-list li a {
  color: #6a6a6a;
  display: block;
  padding: 15px;
  font-weight: 300;
  text-decoration: none;
  &:hover {
    color: #00a9b4;
    background: #f2f4f7;
  }
}

ul.players-list {
  li a span {
    padding-left: 10px;
  }
  padding-left: 0;
  list-style: none;
}
ul.players-list li a {
  color: #6a6a6a;
  display: block;
  padding: 15px;
  font-weight: 300;
  text-decoration: none;
  &:hover {
    color: #00a9b4;
    background: #f2f4f7;
  }
}

.list-player {
  width: 100%;
}

.list-room {
  width: 100%;
}

ul.room-list {
  li a span {
    padding-left: 10px;
  }
  padding-left: 0;
  list-style: none;
}

.users-list {
  margin: 0;
  max-height: 200px;
  bottom: 0px;
}

ul.users-list li {
  padding: 3px;
  max-height: 200px;
  bottom: 0px;
  a {
    color: #6a6a6a;
    display: block;
    width: 100%;
    text-decoration: none;
    &:hover {
      color: #00a9b4;
      background: #f2f4f7;
    }
  }
}

.lobby {
  .left-side footer {
    background: #d5d7de;
    padding: 15px;
    height: 70px;
    width: 25%;
    position: absolute;
    bottom: 0;
  }
  .right-side footer {
    background: #f6f6f6;
    padding: 15px;
    height: 70px;
    width: 50%;
    position: absolute;
    bottom: 0;
  }
  .left-side footer {
    .avatar img {
      width: 40px;
      height: 40px;
      border: 2px solid #fff;
      float: left;
    }
    .status {
      float: left;
      margin: 10px;
      i {
        padding-right: 5px;
      }
    }
  }
}

.lobby-chat {
  display: inline-block;
  margin-bottom: 70px;
  height: 450px;
    overflow-y: scroll;
  width: 100%;
  padding: 5px;
}
.game-chat {
  display: inline-block;
  height: 100px;
    overflow-y: scroll;
  width: 100%;
  padding: 5px;
}

.chat-message {
  background: #f7f8fa;
  padding: 1px;
  padding-bottom: 0px;
  display: inline-block;
  width: 100%;
  word-wrap: break-word;
  margin-top: 0px;
  margin-bottom: 0px;
}


.game-create-row {
  background: #E5E8EF;
  padding: 6px 10px;
  display: inline-block;
  width: 100%;
}

.chat-type {
  margin: 0;
  padding: 0;
  bottom: 0;
}
