body {

  margin:0 auto;
  background-color: #ffffff;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}


ul li:nth-last-child(-n+2) { float: right;}

.navbar {
       height: 45px;

       .search-field {
        top: 3px;
        margin-left: 50px;

       }
   }

.content {
  margin-top: 60px;
}
.input-group {
  background-color: #f1f1f1;
}
.input-group-addon {
  padding-top: 7px;
  padding-right: 7px;
  padding-left: 7px;
}

.align-right{float:right;}
#roomlist {
  float: right;
}

#stage {
    display: none;
        width: 900px;
        height: 540px;
        position: relative;
        border: 2px solid black
      }
  canvas { position: absolute; }
  #ui-canvas { z-index: 3 }
  #foreground-canvas { z-index: 2 }

  #canvas { z-index: 1 }
  #background-canvas { z-index: 0 }
